/*0000000000000000000000  partie css dédier a l'index  000000000000000000000000000*/

/*---------------------- partie grid ---------------------*/

/*---------------------- partie grid  du  index---------------------*/
/*---------------------- partie grid exp, lang, form,...---------------------*/
#conteneur_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/* Colonnes dynamiques */
  
  /* Définition des zones du grid */
  grid-template-areas:
    "Exp Exp Exp Exp"
    "Form Form Dip Dip"
    "CompInfo CompInfo Comp Comp"
	"Hob Hob Lang Lang"
	"Foot Foot Foot Foot";
	
	
	gap: 10px;
    padding: 5px;
    align-items: start;
    background-image: url("https://images.unsplash.com/photo-1710438399422-2fca27686bcd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YWJzdHJhaXQlMjBzb21icmV8ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000");
    background-size: cover;
    background-position: center;
    min-width: 0; /* évite forcer la largeur hors écran */
	flex: 1 1 100px;
}
/*---------------------- partie grid du header---------------------*/
  .header-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* photo / titre / infos */
    grid-template-rows: auto auto; /* 2 lignes principales */
    grid-template-areas:
	"NAV NAV NAV"
    "photo title ."
	"atout profil Engl";
	  
    gap: 10px;
    padding: 10px;
    align-items: start;
    background-image: url("https://e7.pngegg.com/pngimages/467/1016/png-clipart-desktop-background-miscellaneous-blue.png");
    background-size: cover;
    background-position: center;
	min-width: 0; /* évite forcer la largeur hors écran */
	flex: 1 1 100px;
  }
  /*---------------------- partie grid du fichier html experience---------------------*/
  
#conteneur_grid_exp {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));/* Colonnes dynamiques */
  
  grid-template-areas:
    "Empl Empl Empl Empl"
    "Stag Stag Stag Stag"
    "Dec Dec Dec Dec"
	"Foot Foot Foot Foot";
	
	gap: 10px;
    padding: 10px;
    align-items: start;
    background-size: cover;
    background-position: center;
    min-width: 0; /* évite forcer la largeur hors écran */
	flex: 1 1 50px;
}

/*---------------------- FIN partie grid du fichier html experience---------------------*/

  /*---------------------- partie grid du fichier html experience---------------------*/
  
#conteneur_grid_form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));/* Colonnes dynamiques */
  
  grid-template-areas:
    "SST HACCP"
	"IUT BTS"
    "Bac Bac "
	"Foot Foot";
	
	gap: 10px;
    padding: 10px;
    align-items: start;
    background-size: cover;
    background-position: center;
    min-width: 0; /* évite forcer la largeur hors écran */
	flex: 1 1 50px;
}

/*---------------------- FIN partie grid du fichier html experience---------------------*/

/*---------------------- partie grid du fichier html Diplôme---------------------*/
  
#conteneur_grid_Dip {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/* Colonnes dynamiques */
  
  grid-template-areas:
    "SST SST HACCP HACCP"
    "BTS BTS BTS BTS"
    "Bac Bac Bac Bac"
	"Foot Foot Foot Foot";
	
	gap: 10px;
    padding: 10px;
    align-items: start;
    background-size: cover;
    background-position: center;
    min-width: 0; /* évite forcer la largeur hors écran */
	flex: 1 1 50px;
}

/*---------------------- FIN partie grid du fichier html Diplôme---------------------*/


/*---------------------- partie grid du footer---------------------*/
#conteneur_grid_Foot {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/* Colonnes dynamiques */
  
  grid-template-areas:
    "Lien Lien contact contact";
	
	gap: 10px;
    padding: 10px;
    align-items: start;
    background-size: cover;
    background-position: center;
    min-width: 0; /* évite forcer la largeur hors écran */
	flex: 1 1 50px;
}
/*---------------------- FIN partie grid du footer---------------------*/


/*-------------------------- partie pour mes grid index -----------------*/
.Comp { grid-area: Comp;
  padding: 15px;
  border-radius: 8px; }
  
.CompInfo { grid-area: CompInfo;
  padding: 15px;
  border-radius: 8px; }
 


.Hob {  grid-area: Hob;
  padding: 15px;
  border-radius: 8px}
  
  
.Exp  {  grid-area: Exp;
  padding: 15px;
  border-radius: 8px
  }
	

.Dip  {  grid-area: Dip;
  padding: 15px;
  border-radius: 8px}


.Lang  {  grid-area: Lang;
  padding: 15px;
  border-radius: 8px}

.Foot{grid-area: Foot;
  padding: 15px;
  border-radius: 8px}
  
.Form{grid-area: Form;
  padding: 15px;
  border-radius: 8px}
  
 

/*--------------FIN partie pour le header index -----------------*/

/* --------Partie du header profile------- */
.header-profil {
  grid-area: profil;
  text-align: left;
}


.header-nav{
  grid-area: NAV;
}

.header-photo {
	grid-area: photo;
	border-radius: 30px !important; /* ou 30px si tu veux plus rond */
	overflow: hidden; /* évite que l’intérieur dépasse */
}

.photo-rond {
max-width : 150px;
border-radius: 30px;
object-fit: cover;
border: 4px solid var(--accent);
}

.logo {
max-width : 50px;
object-fit: cover;
border: 4px solid var(--accent);
}

.Engl{
 grid-area: Engl;
  border-radius: 8px
}

.header-title {
	grid-area: title;
    text-align: left;
  }
  
.header-atout {
    grid-area: atout;
    text-align: left;
  }

.header-title h1 {
    margin: 0;
    word-wrap: break-word;
	font-size: clamp(14px, 2vw, 20px);
  }

  
.hero-header {
	display: flex;
	gap: 2rem;
	padding: 2rem;
	background: var(--bloc);
	align-items: center;
	flex-wrap: wrap;
}

.header-title h2 {
    font-weight: 400;
    word-wrap: break-word;
	font-size: clamp(14px, 2vw, 20px);
  }

.header-atout ul {
    margin: 0;
    padding-left: 5px;
  }

/* --------Partie du footer------- */
.contact {
    grid-area: contact;
    text-align: left;
  }
  
  
.Lien {
    grid-area: Lien;
    text-align: left;
  }

/* --------FIN Partie du footer------- */


/*--------------------------------------------------------*/ 
  
/*---------------FIN partie pour mes grids Index ----------------*/
 
/*--------------------------------------------------------*/ 

/*--------------partie pour mes grids dans html experience ----------------*/

.employe{
	grid-area:Empl;
	padding: 15px;
  border-radius: 8px;
  text-decoration :underline;
  background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("image/BK_image_fond.jpg");
}
.stage {  grid-area: Stag;
  padding: 15px;
  border-radius: 8px;
  background-image: linear-gradient(rgba(255,255,255,0.7), rgba(100,100,100,200)), url("image/Qualtech_img_fond.png");
  color: black;
   background-size: cover;
  position: relative;
  }

  
.Dec{
  grid-area: Dec;
  padding: 15px;
  border-radius: 8px;
  background: rgba(250, 50, 0, 0.55);
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(100,100,100,0.3)), url("image/Capture d’écran 2025-11-22 101039.png");
  color: black;}
  /*--------------------------------------------------------*/ 
  
 /*---------------FIN partie pour mes grids Exp ----------------*/
 
 /*--------------------------------------------------------*/ 
 
 
 
/*--------------partie pour mes grids dans html Diplôme ----------------*/

.Bac{
	grid-area:Bac;
	padding: 15px;
  border-radius: 8px;
  text-decoration :underline;
  background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("image/logo-loritz.png");
}
.BTS {
	grid-area: BTS;
	padding: 15px;
	border-radius: 8px;
	background-image: linear-gradient(rgba(255,255,255,0.7), rgba(100,100,100,200)), url("image/Capture d’écran 2025-11-22 101232.png");
	color: black;
	background-size: cover;
	position: relative;
  }

  
.SST{
  grid-area: SST;
  padding: 15px;
  border-radius: 8px;
  background: rgba(250, 50, 0, 0.55);
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(100,100,100,0.3)), url("image/geste_SST.png");
  color: black;}
  
.HACCP{
	  grid-area: HACCP;
	  padding: 15px;
	  border-radius: 8px;
	  background: rgba(250, 50, 0, 0.55);
	  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(100,100,100,0.3)), url("image/leader-academy.png");
	  color: black;}
	  
.IUT{
	  grid-area: IUT;
	  padding: 15px;
	  border-radius: 8px;
	  background: rgba(250, 50, 0, 0.55);
	  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(100,100,100,0.3)), url("image/iut-colmar.jpg");
	  color: black;}

  /*--------------------------------------------------------*/ 
  
 /*---------------FIN partie pour mes grids Diplôme ----------------*/
 
 /*--------------------------------------------------------*/ 
 

/*---------------------- FIN partie grid ---------------------*/
   
:root {
--police: "Inter", sans-serif;
}


* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: var(--police);
}


.bodyexp {
background: var(--fond);
color: var(--texte);

margin : 0;
	background: #ffffff;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.hero-header {
display: flex;
gap: 2rem;
padding: 2rem;
background: var(--bloc);
align-items: center;
flex-wrap: wrap;
}





.flex-container {
display: flex;
gap: 1rem;
flex-wrap: wrap;
}


.flex-item {
flex: 1 1 250px;
background: var(--bloc);
padding: 1rem;
border-radius: 12px;
border: 1px solid #ddd;
}


footer {
text-align: center;
padding: 2rem;
color: #555;
}

	
@media (max-width: 700px) {
      
	  .menu-principal {
		flex-wrap: wrap;
		gap: .5rem;}
 h1 {
    font-size: 1.8rem;
  }
}
}

/*00000000000000000000000 Fin de partie dédier à l'index 000000000000000000000000*/


/*-------------- partie pour le li ----------*/

/* On masque l'input */
.toggle {
  display: none;
}

/* Le LI cliquable */
.titre-li {
  display: block;
  padding: 12px;
  background: #333;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  user-select: none;
}

/* Contenu masqué par défaut */
.contenu-li {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease;
  padding: 0 10px;
  background: rgba(255,200,200,0.05);
  border-radius: 6px;
}

/* Quand le checkbox est coché → déplier */
.toggle:checked ~ .contenu-li {
  max-height: 1000px; /* une valeur haute pour le déploiement */
  padding: 10px;
}

.bloc-flex {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

/* Les images */
.images-exp {
	width: 100%;
  height: auto;
  flex: 1;
  object-fit: cover; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images-exp img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

/*-------------- FIN partie pour le li ----------*/


/*------------- partie pour mes titre h1------------*/

h1 {
font-size: 4rem;
position: relative;
text-transform: uppercase;
letter-spacing: 4px;
transition: color 0.3s ease;
}

h1::after {
content: "";
position: absolute;
left: 0;
bottom: -5px;
height: 4px;
width: 0%;
background: linear-gradient(90deg, #00e5ff, #8c00ff);
transition: width 0.4s ease;
}


h1:hover {
color: #00e5ff;
}


h1:hover::after {
width: 100%;
}
/*------------- Fin partie pour mes titre h1 ------------*/
/*------------- partie pour mes titre h2------------*/

h2{
position: relative;
text-transform: uppercase;
letter-spacing: 4px;
transition: color 0.3s ease;
}

h2::after {
content: "";
margin: 15px;
left: 0;
bottom: -5px;
height: auto;
width: 0%;
background: linear-gradient(90deg, #00e5ff, #8c00ff);
transition: width 0.4s ease;
}


h2:hover {
color: #00e5ff;
}


h2:hover::after {
width: 100%;
}
/*------------- Fin partie pour mes titre h2 ------------*/

/*------------- partie pour mes lien ------------*/

a {
font-size: 1rem;
color: #bbb;
text-decoration: none;
position: relative;
margin: 0 1rem;
transition: color 0.3s ease;
}

a::before {
content: "";
position: absolute;
left: 50%;
top: 50%;
width: 0%;
height: 0%;
background: radial-gradient(circle, rgba(100, 0, 255, 0.1), transparent);
transform: translate(-50%, -50%);
border-radius: 50%;
transition: width 0.4s ease, height 0.4s ease, opacity 0.4s ease;
}

a:hover {
color: #0000ff;
}

a:hover::before {
width: 180%;
height: 180%;
opacity: 1;
}

/*------------- Fin partie pour mes lien ------------*/

#fond{
    height : 100vh;
    width : 100vw;
    position : fixed;
    top:0px;
    left : 0px;
    z-index: -10;
}

#main{
    overflow:scroll;
    height : 100vh;
}

 
  /* ---------- Partie pour mes paragraphe --------- */
  
.back {
	background-color : silver;
  }
  
   /*--------------------------------------------------------*/ 
  
    /* ---------- FIN de Partie pour mes paragraphe --------- */
	
	 /*--------------------------------------------------------*/ 
  
  
    /* ---------- Partie du animation pour le html index--------- */
  
  
@keyframes pulseBorder {
  from { box-shadow: 0 0 5px #00f0ff; border-color: #00f0ff; }
  to { box-shadow: 0 0 20px #00f0ff; border-color: #00ffff; }
}

/* Animation du balayage */
@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
  
.card {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  overflow: hidden;
  padding: 20px;
  color: white;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
   border: 2px solid #00f0ff;
  animation: pulseBorder 2s infinite alternate;
}

/* petit effet de zoom au survol */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.15);
}

/* Effet lumineux de balayage */
.card::before{
      content: "";
      position: absolute;
      top: 0;
      left: -75%;
      width: 45%;
      height: 100%;
      background: linear-gradient(120deg, transparent, rgba(255,255,255,0.65), transparent);
      opacity: 0;
      pointer-events: none;
    }

/* --------------- Animation activée seulement au survol --------------------*/
.card:hover::before {
  animation: shine 1.2s ease-in-out;
  opacity: 1;
}
  
.card:nth-child(1):hover::before { animation-delay: 0s; }
.card:nth-child(2):hover::before { animation-delay: 0.1s; }
.card:nth-child(3):hover::before { animation-delay: 0.2s; }
.card:nth-child(4):hover::before { animation-delay: 0.3s; }
.card:nth-child(5):hover::before { animation-delay: 0.4s; }
  
  /* -----------------fin du Animation du header ------------------- */



  
  
  
   /* ---------- Partie du animation pour le html Experience--------- */


.card1 {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  
  backdrop-filter: blur(10px);
  overflow: hidden;
  padding: 20px;
  
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
   border: 2px solid #00f0ff;
  animation: pulseBorder 2s infinite alternate;
}

/* petit effet de zoom au survol */
.card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.15);
}

/* Effet lumineux de balayage */
.card1::before{
      content: "";
      position: absolute;
      top: 0;
      left: -75%;
      width: 45%;
      height: 100%;
      background: linear-gradient(120deg, transparent, rgba(255,255,255,0.65), transparent);
      opacity: 0;
      pointer-events: none;
    }

/* ✨ Animation activée seulement au survol */
.card1:hover::before {
  animation: shine 1.2s ease-in-out;
  opacity: 1;
}


  .header-profil p {margin: 0;}

  
  .card1:nth-child(1):hover::before { animation-delay: 0s; }
.card1:nth-child(2):hover::before { animation-delay: 0.1s; }
.card1:nth-child(3):hover::before { animation-delay: 0.2s; }
.card1:nth-child(4):hover::before { animation-delay: 0.3s; }
.card1:nth-child(5):hover::before { animation-delay: 0.4s; }
	
/*--------------Fin de l'animation balayage ----------------*/

   /*--------------------------------------------------------*/ 
  
    /* ---------- FIN de Partie pour mes paragraphe --------- */
	
	 /*--------------------------------------------------------*/ 


  /* ---------- Partie du animation pour le html Formation--------- */


.card2 {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  
  backdrop-filter: blur(10px);
  overflow: hidden;
  padding: 20px;
  
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
   border: 2px solid #00f0ff;
  animation: pulseBorder 2s infinite alternate;
}

/* petit effet de zoom au survol */
.card2:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.15);
}

/* Effet lumineux de balayage */
.card2::before{
      content: "";
      position: absolute;
      top: 0;
      left: -75%;
      width: 45%;
      height: 100%;
      background: linear-gradient(120deg, transparent, rgba(255,255,255,0.65), transparent);
      opacity: 0;
      pointer-events: none;
    }

/* ✨ Animation activée seulement au survol */
.card1:hover::before {
  animation: shine 1.2s ease-in-out;
  opacity: 1;
}


  .header-profil p {margin: 0;}

  
  .card2:nth-child(1):hover::before { animation-delay: 0s; }
.card2:nth-child(2):hover::before { animation-delay: 0.1s; }
.card2:nth-child(3):hover::before { animation-delay: 0.2s; }
.card2:nth-child(4):hover::before { animation-delay: 0.3s; }
.card2:nth-child(5):hover::before { animation-delay: 0.4s; }

/* texte et liens */
    a { color: inherit; text-decoration: underline; }
    h2,h3 { margin: 6px 0; }
	
/*--------------Fin de l'animation balayage ----------------*/
