/*0000000000000000000000  partie css dédier a l'index  000000000000000000000000000*/

/*---------------------- partie grid ---------------------*/

/*---------------------- partie grid  du  index---------------------*/


#conteneur_grid_Body {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/* Colonnes dynamiques */
  
	/* Définition des zones du grid */
	grid-template-areas:
    "Head"
	"Body";
	
	
	gap: 10px;
    padding: 5px;
    align-items: start;
    background-image: url("https://images.unsplash.com/photo-1710438399422-2fca27686bcd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YWJzdHJhaXQlMjBzb21icmV8ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000");
    background-size: cover;
    background-position: center;
       min-width: 200px;
    min-height: 150px;
	flex: 1 1 100px;
}

/*---------------------- partie grid exp, lang, form,...---------------------*/
#conteneur_grid_case_1 {
	  display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/* Colonnes dynamiques */
	  
	  /* Définition des zones du grid */
	  grid-template-areas:
		"Exp Form Dip";
		
		
		gap: 10px;
		padding: 5px;
		align-items: start;
		background-size: cover;
		background-position: center;
		    min-width: 200px;
    min-height: 150px;
		flex: 1 1 100px;
}

#conteneur_grid_case_2 {
	  display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/* Colonnes dynamiques */
	  
	  /* Définition des zones du grid */
	  grid-template-areas:
		"Comp CompInfo"
		"Lang Hob";
		
		
		gap: 10px;
		padding: 5px;
		align-items: start;
		background-size: cover;
		background-position: center;
		    min-width: 200px;
    min-height: 150px;
		flex: 1 1 100px;
}

#conteneur_grid_case {
	  display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/* Colonnes dynamiques */
	  
	  /* Définition des zones du grid */
	  grid-template-areas:
		"Import"
		"Compt"
		"Diver"
		"Foot";
		
		
		gap: 10px;
		padding: 5px;
		align-items: start;
		background-image: url("https://images.unsplash.com/photo-1710438399422-2fca27686bcd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YWJzdHJhaXQlMjBzb21icmV8ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000");
		background-size: cover;
		background-position: center;
		    min-width: 200px;
    min-height: 150px;
		flex: 1 1 100px;
}



/*-------------------------- partie pour mes grid index -----------------*/

/*-------------------------- partie pour mes grid  body index -----------------*/
.Import { grid-area: Import;
  padding: 15px;
 }
  
.Compt { grid-area: Compt;
  padding: 15px;
  }
  
.Diver { grid-area: Diver;
  padding: 15px;
 }
 
 /*-------------------------- partie pour mes grid header et body index -----------------*/



/*-------------------------- FIN partie pour mes grid header et body inde -----------------*/


/*-------------------------- FIN partie pour mes grid  body index -----------------*/

/*-------------------------- partie pour mes grid header et body index -----------------*/
.Head { grid-area: Head;
  padding: 15px;
 }
  
.Body { grid-area: Body;
  padding: 15px;
  }

/*-------------------------- FIN partie pour mes grid header et body inde -----------------*/

.Comp { grid-area: Comp;
  padding: 15px;
  border-radius: 8px; }
  
.CompInfo { grid-area: CompInfo;
  padding: 15px;
  border-radius: 8px; }
 


.Hob {  grid-area: Hob;
  padding: 15px;
  border-radius: 8px}
  
  
.Exp  {  grid-area: Exp;
  padding: 15px;
  border-radius: 8px
  }
	

.Dip  {  grid-area: Dip;
  padding: 15px;
  border-radius: 8px}


.Lang  {  grid-area: Lang;
  padding: 15px;
  border-radius: 8px}

.Foot{grid-area: Foot;
  padding: 15px;
  border-radius: 8px}
  
.Form{grid-area: Form;
  padding: 15px;
  border-radius: 8px}
  
 

/*--------------FIN partie pour le header index -----------------*/

/*---------------------- partie grid du header---------------------*/
.header-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* photo / titre / infos */
		grid-template-rows: auto auto; /* 2 lignes principales */
		grid-template-areas:
		"NAV NAV"
		"photo profil";
		  
		gap: 10px;
		padding: 10px;
		align-items: start;
		background-image: url("https://e7.pngegg.com/pngimages/467/1016/png-clipart-desktop-background-miscellaneous-blue.png");
		background-size: cover;
		background-position: center;
		min-width: 0; /* évite forcer la largeur hors écran */
		flex: 1 1 100px;
  }
  
  /* --------Partie du header profile------- */
.header-profil {
  grid-area: profil;
  text-align: left;
}


.header-nav{
  grid-area: NAV;
}

.header-photo {
	grid-area: photo;
	border-radius: 30px !important; /* ou 30px si tu veux plus rond */
	overflow: hidden; /* évite que l’intérieur dépasse */
}



.header-title {
	grid-area: title;
    text-align: left;
  }
  
  
.Engl{
 grid-area: Engl;
  border-radius: 8px
}

.header-title {
	grid-area: title;
    text-align: left;
  }
  
.header-atout {
    grid-area: atout;
    text-align: left;
  }
  
 


/*--------------------------------------------------------*/ 
  
/*---------------FIN partie pour mes grids Index ----------------*/
 
/*--------------------------------------------------------*/ 


/*---------------------- partie grid du fichier html experience---------------------*/
  
#conteneur_grid_exp {
	  display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));/* Colonnes dynamiques */
	  
	  grid-template-areas:
		"Empl Empl"
		"Stag Dec"
		"Foot Foot";
		
		gap: 10px;
		padding: 10px;
		align-items: start;
		background-size: cover;
		background-position: center;
		    min-width: 200px;
    min-height: 150px;
		flex: 1 1 50px;
}

/*--------------partie pour mes grids dans html experience ----------------*/

.employe{
	grid-area:Empl;
	padding: 15px;
  border-radius: 8px;
  text-decoration :underline;
  background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("image/BK_image_fond.jpg");
}
.stage {  grid-area: Stag;
  padding: 15px;
  border-radius: 8px;
  background-image: linear-gradient(rgba(255,255,255,0.7), rgba(100,100,100,200)), url("image/Qualtech_img_fond.png");
  color: black;
   background-size: cover;
  position: relative;
  }

  
.Dec{
  grid-area: Dec;
  padding: 15px;
  border-radius: 8px;
  background: rgba(250, 50, 0, 0.55);
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(100,100,100,0.3)), url("image/Capture d’écran 2025-11-22 101039.png");
  color: black;}
/*--------------------------------------------------------*/ 
  
/*---------------FIN partie pour mes grids Exp ----------------*/
 
/*--------------------------------------------------------*/ 
 

/*---------------------- FIN partie grid du fichier html experience---------------------*/

/*---------------------- partie grid du fichier html Formation ------------------------------*/
 
#conteneur_grid_IUT {
	 display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));/* Colonnes dynamiques */
	  
	  grid-template-areas:
		"TIUT DIUT IIUT"
		"LIUT DIUT IIUT";
		
		gap: 5px;
		padding: 5px;
		align-items: start;	
		background-size: cover;
		background-position: center;
		    min-width: 200px;
    min-height: 150px;
		flex: 1 1 50px;
}
.TIUT{ grid-area: TIUT;background: rgba(250, 250, 250, 0.50)}
.DIUT{ grid-area: DIUT;background: rgba(250, 250, 250, 0.50)}
.LIUT{ grid-area: LIUT;background: rgba(250, 250, 250, 0.50)}
.IIUT{ grid-area: IIUT;background: rgba(250, 250, 250, 0.50)}

#conteneur_grid_SST {
	 display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));/* Colonnes dynamiques */
	  
	  grid-template-areas:
		"TItre_SST Prog"
		". Time_form";
		
		gap: 5px;
		padding: 5px;
		align-items: start;	
		background-size: cover;
		background-position: center;
		    min-width: 200px;
    min-height: 150px;
		flex: 1 1 50px;
}
.Prog{ grid-area: Prog;background: rgba(250, 250, 250, 0.50)}
.Time_form{ grid-area: Time_form;background: rgba(250, 250, 250, 0.50)}
.TItre_SST{ grid-area: TItre_SST ;background: rgba(250, 250, 250, 0.50)}

#conteneur_grid_BTS {
	 display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));/* Colonnes dynamiques */
	  
	  grid-template-areas:
		"TBTS LBTS"
		"Proj LBTS";
		
		gap: 5px;
		padding: 5px;
		align-items: start;	
		background-size: cover;
		background-position: center;
		    min-width: 200px;
    min-height: 150px;
		flex: 1 1 50px;
}
.Proj{ grid-area: Proj;background: rgba(250, 250, 250, 0.50);}
.LBTS{ grid-area: LBTS;background: rgba(250, 250, 250, 0.50)}
.TBTS{ grid-area: TBTS ;background: rgba(250, 250, 250, 0.50)}
  
#conteneur_grid_form {
	  display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));/* Colonnes dynamiques */
	  
	  grid-template-areas:
		"IUT IUT"
		"SST HACCP"
		"BTS Bac"
		"BTS ."
		"Foot Foot";
		
		gap: 10px;
		padding: 10px;
		align-items: start;	
		background-size: cover;
		background-position: center;
		    min-width: 200px;
    min-height: 150px;
		flex: 1 1 50px;
}



/*---------------------- FIN partie grid du fichier Formation---------------------*/

/*---------------------- partie grid du fichier html Diplôme---------------------*/
  
#conteneur_grid_Dip {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/* Colonnes dynamiques */
  
	grid-template-areas:
    "SST  Bac"
    "BTS BTS"
	"Foot Foot";
	
	gap: 10px;
    padding: 10px;
    align-items: start;
    background-size: cover;
    background-position: center;
        min-width: 200px;
    min-height: 150px;
	flex: 1 1 50px;
}

#conteneur_grid_Dip_BAC {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/* Colonnes dynamiques */
  
	grid-template-areas:
    "T_Dip_Bac "
	"Dip_Bac"
    "Opt_Dip_Bac";
	
	gap: 10px;
    padding: 10px;
    align-items: start;
    background-size: cover;
    background-position: center;
        min-width: 200px;
    min-height: 150px;
	flex: 1 1 50px;
}
.T_Dip_Bac{
	grid-area:T_Dip_Bac;
}
.Dip_Bac{
	grid-area:Dip_Bac;
}
.Opt_Dip_Bac{
	grid-area:Opt_Dip_Bac;
}

#conteneur_grid_Dip_BTS {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/* Colonnes dynamiques */
  
	grid-template-areas:
    "T_Dip_BTS  Res_BTS "
	". Dip_BTS";
	
	gap: 10px;
    padding: 10px;
    align-items: start;
    background-size: cover;
    background-position: center;
    min-width: 200px;
    min-height: 150px;
	flex: 1 1 50px;
}
.T_Dip_BTS{
	grid-area:T_Dip_BTS;
}
.Dip_BTS{
	grid-area:Dip_BTS;
}

.Res_BTS{
	grid-area:Res_BTS;
}

.Opt_Dip_BTS{
	grid-area:Opt_Dip_BTS;
}



 
/*--------------partie pour mes grids dans html Diplôme ----------------*/

.Bac{
	grid-area:Bac;
	padding: 15px;
  border-radius: 8px;
  text-decoration :underline;
  background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("image/logo-loritz.png");
}
.BTS {
	grid-area: BTS;
	padding: 15px;
	border-radius: 8px;
	background-image: linear-gradient(rgba(255,255,255,0.7), rgba(100,100,100,200)), url("image/Capture d’écran 2025-11-22 101232.png");
	color: black;
	background-size: cover;
	position: relative;
  }

  
.SST{
  grid-area: SST;
  padding: 15px;
  border-radius: 8px;
  background: rgba(250, 50, 0, 0.55);
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(100,100,100,0.3)), url("image/geste_SST.png");
  color: black;}
  
.HACCP{
	  grid-area: HACCP;
	  padding: 15px;
	  border-radius: 8px;
	  background: rgba(250, 50, 0, 0.55);
	  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(100,100,100,0.3)), url("image/leader-academy.png");
	  color: black;}
	  
.IUT{
	  grid-area: IUT;
	  padding: 15px;
	  border-radius: 8px;
	  background: rgba(250, 50, 0, 0.55);
	  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(100,100,100,0.3)), url("image/iut-colmar.jpg");
	  color: black;}

/*--------------------------------------------------------*/ 
/*---------------FIN partie pour mes grids Diplôme -------*/
/*--------------------------------------------------------*/ 
/*-------------- FIN partie grid du fichier html Diplôme-*/


/*---------------------- partie grid du footer---------------------*/
#conteneur_grid_Foot {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/* Colonnes dynamiques */
  
  grid-template-areas:
    "Lien Lien contact contact";
	
	gap: 10px;
    padding: 10px;
    align-items: start;
    background-size: cover;
    background-position: center;
    min-width: 0; /* évite forcer la largeur hors écran */
	flex: 1 1 50px;
}
/*---------------------- FIN partie grid du footer---------------------*/

 
 

@media (max-width: 800px) {
    body {
        font-size: 1.2rem; 
    }
    #conteneur_grid_case_1 {
        grid-template-columns: 1fr; 
    }
	#conteneur_grid_case_2 {
        grid-template-columns: 1fr; 
    }
	#conteneur_grid_case {
        grid-template-columns: 1fr; 
    }
	#conteneur_grid_Body { 
	grid-template-columns: 1fr; 
    }
	#conteneur_grid_Foot { 
	grid-template-columns: 1fr; 
    }
	#conteneur_grid_Dip_BTS {
		grid-template-columns: 1fr; 
    }
	#conteneur_grid_Dip_BAC {
		grid-template-columns: 1fr; 
    }
	#conteneur_grid_Dip {
		grid-template-columns: 1fr; 
    }
	#conteneur_grid_form {
		grid-template-columns: 1fr; 
    }
	#conteneur_grid_BTS {
		grid-template-columns: 1fr; 
    }
	#conteneur_grid_IUT {
		grid-template-columns: 1fr; 
    }
	#conteneur_grid_SST {
		grid-template-columns: 1fr; 
    }
	#conteneur_grid_exp {
		grid-template-columns: 1fr; 
    }
}

body, html {
    overflow-x: hidden; 
}

 
/* --------Partie du footer------- */
.contact {
    grid-area: contact;
    text-align: left;
  }
  
  
.Lien {
    grid-area: Lien;
    text-align: left;
  }

/* --------FIN Partie du footer------- */

/*---------------------- FIN partie grid ---------------------*/



   
:root {/*---------------------- police de caractère ---------------------*/
    --police: "Montserrat", sans-serif;
}


.photo-rond {
	max-width : 150px;
	border-radius: 30px;
	object-fit: cover;
	border: 4px solid var(--accent);
}

.logo {
	max-width : 50px;
	object-fit: cover;
	border: 4px solid var(--accent);
}

  
.hero-header {
	display: flex;
	gap: 2rem;
	padding: 2rem;
	background: var(--bloc);
	align-items: center;
	flex-wrap: wrap;
}


.header-title h1 {
    margin: 0;
    word-wrap: break-word;
	font-size: clamp(14px, 2vw, 20px);
  }
 
.header-title h2 {
    font-weight: 400;
    word-wrap: break-word;
	font-size: clamp(14px, 2vw, 20px);
  }

.header-atout ul {
    margin: 0;
    padding-left: 5px;
  }


 
 

/*--------- Application Globale ------------------*/


footer {
	text-align: center;
	padding: 2rem;
	color: #555;
}

	


/*------------- partie pour mes titre h1------------*/

h1 {
	font-size: 4rem;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 4px;
	transition: color 0.3s ease;
}

h1::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	height: 4px;
	width: 0%;
	background: linear-gradient(90deg, #00e5ff, #8c00ff);
	transition: width 0.4s ease;
}


h1:hover {
	color: #00e5ff;
}


h1:hover::after {
	width: 100%;
}
/*------------- Fin partie pour mes titre h1 ------------*/
/*------------- partie pour mes titre h2------------*/

h2{
	position: relative;
	text-transform: uppercase;
	letter-spacing: 4px;
	transition: color 0.3s ease;
}

h2::after {
	content: "";
	margin: 15px;
	left: 0;
	bottom: -5px;
	height: auto;
	width: 0%;
	background: linear-gradient(90deg, #00e5ff, #8c00ff);
	transition: width 0.4s ease;
}


h2:hover {
	color: #00e5ff;
}


h2:hover::after {
	width: 100%;
}
/*------------- Fin partie pour mes titre h2 ------------*/

/*------------- partie pour mes lien ------------*/

a {
	font-size: 1rem;
	color: #bbb;
	text-decoration: none;
	position: relative;
	margin: 0 1rem;
	transition: color 0.3s ease;
}

a::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 0%;
	height: 0%;
	background: radial-gradient(circle, rgba(100, 0, 255, 0.1), transparent);
	transform: translate(-50%, -50%);
	border-radius: 50%;
	transition: width 0.4s ease, height 0.4s ease, opacity 0.4s ease;
}

a:hover {
	color: #0000ff;
}

a:hover::before {
	width: 180%;
	height: 180%;
	opacity: 1;
}

/*------------- Fin partie pour mes lien ------------*/

#fond{
    height : 100vh;
    width : 100vw;
    position : fixed;
    top:0px;
    left : 0px;
    z-index: -10;
}

#main{
    overflow:scroll;
    height : 100vh;
}



/*--------- FIN  des Applications Globales ------------------*/


.body_index{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--police);
}


.bodyexp {
background: var(--fond);
color: var(--texte);

margin : 0;
	background: #ffffff;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.hero-header {
	display: flex;
	gap: 2rem;
	padding: 2rem;
	background: var(--bloc);
	align-items: center;
	flex-wrap: wrap;
}


.flex-container {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}


.flex-item {
	flex: 1 1 250px;
	background: var(--bloc);
	padding: 1rem;
	border-radius: 12px;
	border: 1px solid #ddd;
}



/*00000000000000000000000 Fin de partie dédier à l'index 000000000000000000000000*/


/*-------------- partie pour le case à coche ----------*/

/* On masque l'input */
.toggle {
  display: none;
}

/* Le LI cliquable */
.titre-li {
	display: block;
	padding: 12px;
	background: rgba(25,25,25,0.6);
	color: white;
	font-weight: bold;
	cursor: pointer;
	border-radius: 6px;
	user-select: none;
}

.titre-liP {
	display: block;
	padding: 12px;
	background: rgba(100,0,150,0.2);
	color: black;
	font-weight: bold;
	cursor: pointer;
	border-radius: 6px;
	user-select: none;
}

/* Contenu masqué par défaut */
.contenu-li {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease;
  padding: 0 10px;
  background: rgba(255,200,200,0.05);
  border-radius: 6px;
}

/* Quand le checkbox est coché → déplier */
.toggle:checked ~ .contenu-li {
  max-height: 1000px; /* une valeur haute pour le déploiement */
  padding: 10px;
}

.bloc-flex {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

/* Les images */
.images-exp {
	width: 100%;
  height: auto;
  flex: 1;
  object-fit: cover; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images-exp img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

/*-------------- FIN partie pour le li ----------*/




 
  /* ---------- Partie pour mes paragraphe --------- */
  
.back {
	background-color : silver;
  }
  
.backwhite {
	background-color : white;
  }
.backblack {
	background-color : rgba(25, 25, 25, 0.8);
  }
  
.noir{
	color: black;
}

/*dans le body exp*/
.police-p{
	font-family: 'Montserrat', Arial, sans-serif;
	
}

.titre_exp{
	font-family: 'Playfair Display', serif;
}
  
/*--------------------------------------------------------*/ 
  
/* ---------- FIN de Partie pour mes paragraphe --------- */
	
/*--------------------------------------------------------*/ 
  
  
/* ---------- Partie du animation pour le html index--------- */
  
  
@keyframes pulseBorder {/*effet de pulsation*/
  from { box-shadow: 0 0 5px #00f0ff;/*contour lumineux avec des ombres */ border-color: #00f0ff; }
  to   { box-shadow: 0 0 20px #00f0ff; border-color: #00ffff; }
}

@keyframes pulseBorderRed {/*effet de pulsation*/
  from { box-shadow: 0 0 5px #8b0000; border-color: #8b0000; }
  to   { box-shadow: 0 0 20px #ff1a1a; border-color: #ff1a1a; }
}

/* Animation du balayage lumineux keyframes pulseBorder ou Red*/
@keyframes shine {
  0%   { left: -75%; }
  100% { left: 125%; }
}
  
.card {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  overflow: hidden;
  padding: 20px;
  color: white;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
   border: 2px solid #00f0ff;
  animation: pulseBorder 2s infinite alternate;
  box-sizing: border-box; 
  width: 100%; 
}

/* petit effet de zoom au survol */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.15);
}

/* Partie Effet lumineux de balayage */
.card::before{
      content: "";
      position: absolute;
      top: 0;
      left: -75%;
      width: 45%;
      height: 100%;
      background: linear-gradient(120deg, transparent, rgba(255,255,255,0.65), transparent);
      opacity: 0;
      pointer-events: none;
    }

/* --------------- Animation activée seulement au survol --------------------*/
.card:hover::before {
  animation: shine 1.2s ease-in-out; /* Effet lumineux de balayage */
  opacity: 1;
}
  
.card:nth-child(1):hover::before { animation-delay: 0s; } 	/* --------------- début de l'Animation --------------------*/
.card:nth-child(2):hover::before { animation-delay: 0.1s; }
.card:nth-child(3):hover::before { animation-delay: 0.2s; }
.card:nth-child(4):hover::before { animation-delay: 0.3s; }
.card:nth-child(5):hover::before { animation-delay: 0.4s; }

/*-----------------------------------------------------------------*/  
/* -----------------fin du Animation du header ------------------- */
/*-----------------------------------------------------------------*/

/* ---------- Partie du animation pour le html Experience--------- */


.card1 {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  
  backdrop-filter: blur(10px);
  overflow: hidden;
  padding: 20px;
  
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
   border: 2px solid #00f0ff;
  animation: pulseBorder 2s infinite alternate;
  
  box-sizing: border-box; 
  width: 100%;
}

/* petit effet de zoom au survol */
.card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.15);
}

/* Effet lumineux de balayage */
.card1::before{
      content: "";
      position: absolute;
      top: 0;
      left: -75%;
      width: 45%;
      height: 100%;
      background: linear-gradient(120deg, transparent, rgba(255,255,255,0.65), transparent);
      opacity: 0;
      pointer-events: none;
    }

/* Animation activée seulement au survol */
.card1:hover::before {
  animation: shine 1.2s ease-in-out;
  opacity: 1;
}

  
.card1:nth-child(1):hover::before { animation-delay: 0s; }
.card1:nth-child(2):hover::before { animation-delay: 0.1s; }
.card1:nth-child(3):hover::before { animation-delay: 0.2s; }
.card1:nth-child(4):hover::before { animation-delay: 0.3s; }
.card1:nth-child(5):hover::before { animation-delay: 0.4s; }
	
/*--------------Fin de l'animation balayage ----------------*/

/*--------------------------------------------------------*/ 
  
/* ---------- FIN de Partie pour mes paragraphe --------- */
	
/*--------------------------------------------------------*/ 

/* ---------- Partie du animation pour le html Formation--------- */


.card2 {
  position: relative;
  border: 2px solid rgba(255, 50, 50, 0.2);
  border-radius: 15px;
  overflow: hidden;
  padding: 10px;
  
  box-shadow: 0 0 15px rgba(255, 250, 250, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
   border: 2px solid #ff0000;
   animation: pulseBorderRed 2s infinite alternate; /*animation de pulsation de keyframes pulseBorderRed*/

	box-sizing: border-box; 
	width: 100%;
}


.header-profil p {margin: 0;}

/* texte et liens */
    a { color: inherit; text-decoration: underline; }
    h2,h3 { margin: 6px 0; }
	
/*--------------Fin de l'animation balayage ----------------*/
